.erweima {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  background: url(assets/body.jpg);

  .erweima-container {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -215px;
    text-align: center;
  }

  h2 {
    margin: 0;
  }
}
