<div class="container-box ant-Mbottom-large">
  <div class="search">
    <div class="query">
      <b>查询条件</b>
    </div>
    <nz-row>
      <ng-container *ngFor="let item of searchItems">
        <nz-col [nzSpan]="item.span">
          <label>{{item.name}}</label>
          <ng-container [ngSwitch]="item.class">
            <ng-template ngSwitchCase="input">
              <input nz-input [type]="item.type" [placeholder]="'请输入'+item.name" [(ngModel)]="searchData[item.value]">
            </ng-template>
            <ng-template ngSwitchCase="date">
              <nz-range-picker [(ngModel)]="searchData[item.value]" (ngModelChange)='get_data(true)' nzShowTime>
              </nz-range-picker>
            </ng-template>
            <ng-template ngSwitchCase="option">
              <nz-select [(ngModel)]="searchData[item.value]" nzAllowClear="true" (ngModelChange)="get_data(true)">
                <nz-option *ngFor="let o of actionType" [nzLabel]="o.name" [nzValue]="o.value"></nz-option>
              </nz-select>
            </ng-template>
          </ng-container>
        </nz-col>
      </ng-container>
    </nz-row>
    <nz-row>
      <nz-col [nzSpan]="24" style="justify-content:flex-end;display: flex;padding-right: 24px">
        <button class="ant-Mleft" nz-button nzType="primary" (click)="get_data(true)" [nzLoading]="loading">搜索</button>
        <button class="ant-Mleft" nz-button (click)="clear_data()">清空</button>
      </nz-col>
    </nz-row>
  </div>
</div>
<div class="container-box overflow-box">
  <nz-table #table nzShowSizeChanger [nzData]="data" [(nzPageSize)]="searchData.pagesize"
    [(nzPageIndex)]="searchData.page" [nzFrontPagination]="false" [nzTotal]="total" [nzShowTotal]="totalTemplate"
    [nzLoading]="loading" [nzPageSizeOptions]="pagesizeAry" (nzPageIndexChange)="get_data()"
    (nzPageSizeChange)="get_data(true)">
    <thead>
      <tr>
        <th *ngFor="let t of theads">{{t.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td *ngFor="let t of theads">
          <ng-container [ngSwitch]="t.value">
            <ng-template ngSwitchDefault>{{data[t.value]}}</ng-template>
          </ng-container>
        </td>
      </tr>
    </tbody>
    <ng-template #totalTemplate>
      总计 {{total}} 条
    </ng-template>
  </nz-table>
</div>