<div>
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired="true">问题类型</nz-form-label>
      <nz-form-control [nzSpan]="18" nzErrorTip="请选择问题类型！">
        <nz-select formControlName="type" nzPlaceHolder="请选择问题类型" nzAllowClear>
          <nz-option *ngFor="let o of typeOption" [nzValue]="o.value" [nzLabel]="o.name"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>问题内容</nz-form-label>
      <nz-form-control [nzSpan]="18" nzErrorTip="请输入问题内容！">
        <input type="text" nz-input formControlName="question" placeholder="请输入问题内容">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>问题答案</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-form-control>
          <div id="rule" style="min-height: 300px"></div>
        </nz-form-control>
      </nz-form-control>
    </nz-form-item>
  </form>
  <nz-row>
    <nz-col nzSpan="18" nzOffset="4">
      <button nz-button nzType="primary" (click)="make_sure()" class="ant-Mright" [nzLoading]="loading">确定</button>
      <button nz-button (click)="make_cancel()">取消</button>
    </nz-col>
  </nz-row>
</div>