<div>
  <nz-steps [nzCurrent]="current">
    <nz-step nzTitle="选择商品"></nz-step>
    <nz-step nzTitle="详细信息"></nz-step>
  </nz-steps>
  <div class="ant-Mtop-large">
    <ng-container *ngIf="current===0">
      <nz-row class="ant-Mbottom">
        <nz-col nzSpan="6" class="label-col">
          <label>商品店铺：</label>
        </nz-col>
        <nz-col nzSpan="16">
          <nz-select style="min-width: 360px" [(ngModel)]="shop_id" (ngModelChange)="get_group_list($event)"
            nzPlaceHolder="选择商品店铺" nzAllowClear="true">
            <nz-option *ngFor="let o of shopOption" [nzLabel]="o.name" [nzValue]="o.id"></nz-option>
          </nz-select>
        </nz-col>
      </nz-row>
      <nz-row class="ant-Mbottom">
        <nz-col nzSpan="6" class="label-col">
          <label>商品分组：</label>
        </nz-col>
        <nz-col nzSpan="16">
          <nz-select style="min-width: 360px" [(ngModel)]="goods_group_scopes" nzMode="multiple" nzPlaceHolder="商品分组"
            nzAllowClear>
            <nz-option *ngFor="let option of GroupOption" [nzLabel]="option.name" [nzValue]="option.id">
            </nz-option>
          </nz-select>
        </nz-col>
      </nz-row>
      <nz-row class="ant-Mbottom">
        <nz-col nzSpan="6" class="label-col">
          <label>搜索商品：</label>
        </nz-col>
        <nz-col nzSpan="16">
          <nz-select style="min-width: 360px" nzPlaceHolder="搜索商品" [(ngModel)]="goods_spu"
            (ngModelChange)="check_goods_spu($event)" nzShowSearch (nzOnSearch)="search_spu($event)" nzAllowClear>
            <nz-option *ngFor="let option of SpuOption" [nzLabel]="option.goods_name" [nzValue]="option.id">
            </nz-option>
          </nz-select>
        </nz-col>
      </nz-row>
      <nz-row class="ant-Mbottom">
        <nz-col nzSpan="6" class="label-col">
          <label>已选择商品：</label>
        </nz-col>
        <nz-col nzSpan="16">
          <ng-container *ngFor="let s of goods_spu_scopes">
            <nz-card nzHoverable
              style="width:240px;float: left;margin-right: 16px;margin-bottom: 16px;position: relative;"
              [nzCover]="coverTemplate">
              <nz-card-meta [nzTitle]="s.goods_name" [nzDescription]="descTemplate"></nz-card-meta>
              <ng-template #descTemplate>
                <div style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{s.description}}</div>
              </ng-template>
              <span style="position: absolute;color: #f5222d;top: 0;right: 0;font-size: 20px;" (click)="remove(s.id)"><i
                  nz-icon nzType="close" nzTheme="outline"></i></span>
            </nz-card>
            <ng-template #coverTemplate>
              <img [src]="s.images[0]" height="120px" />
            </ng-template>
          </ng-container>
        </nz-col>
      </nz-row>
    </ng-container>
    <ng-container *ngIf="current===1">
      <form nz-form [formGroup]="validateForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzRequired>优惠券名称</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="请输入优惠券名称！">
            <input type="text" nz-input formControlName="name" placeholder="请输入优惠券名称">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzRequired>优惠券类型</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="请输入优惠券类型！">
            <nz-radio-group formControlName="type">
              <label nz-radio [nzValue]="1">满减</label>
              <label nz-radio [nzValue]="2">折扣</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="validateForm.get('type').value==1">
          <nz-form-label [nzSpan]="6" nzRequired>优惠额度</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="请输入优惠额度！">
            <nz-input-number formControlName="preferential_price" [nzMin]="0" [nzStep]="0.01"></nz-input-number>
            <label style="line-height: 32px;margin-left: 8px">元</label>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="validateForm.get('type').value==2">
          <nz-form-label [nzSpan]="6" nzRequired>优惠折扣</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="请输入优惠折扣！">
            <nz-select [ngModelOptions]="{standalone: true}" [(ngModel)]="op1" nzAllowClear="true" style="width: 70px">
              <nz-option *ngFor="let o of option1" [nzLabel]="o.name" [nzValue]="o.value"></nz-option>
            </nz-select>
            点
            <nz-select [ngModelOptions]="{standalone: true}" [(ngModel)]="op2" nzAllowClear="true" style="width: 70px">
              <nz-option *ngFor="let o of option2" [nzLabel]="o.name" [nzValue]="o.value"></nz-option>
            </nz-select>
            折
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzRequired>最低金额限度</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="请输入最低金额限度！">
            <nz-input-number formControlName="minmum_consumption_price" [nzMin]="0" [nzStep]="0.01"></nz-input-number>
            <label style="line-height: 32px;margin-left: 8px">元</label>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzRequired>截止日期</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="请输入截止日期！">
            <nz-date-picker formControlName="deadline_date"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>
  </div>
  <div class="ant-Mtop-large">
    <nz-row>
      <nz-col nzSpan="16" nzOffset="6">
        <button nz-button *ngIf="current===0" (click)="next_step()">下一步</button>
        <button nz-button *ngIf="current===1" (click)="pre_step()">上一步</button>
        <button nz-button *ngIf="current===1" class="ant-Mleft" (click)="make_sure()" nzType="primary">确定</button>
        <button nz-button class="ant-Mleft" (click)="make_cancel()">取消</button>
      </nz-col>
    </nz-row>
  </div>
</div>