.container {
  padding-top: 64px;
  overflow: hidden;

  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    padding-right: 24px;
    background: linear-gradient(90deg, #2B3037, #6c727A);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);

    .logo {
      width: 200px;
      height: 100%;
      text-align: center;
      background: linear-gradient(270deg, #c99678 0, #f2c89b);
      transition: all 0.3s;
      white-space: nowrap;

      a {
        display: inline-block;
        margin: 8px auto;
        margin-left: -16px;
        transition: all 0.3s;
      }

      img {
        width: 48px;
        height: 48px;
      }

      div {
        display: inline-block;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        line-height: 48px;
        vertical-align: middle;
        margin-left: 6px;
      }
    }

    .logo-collapsed {
      width: 80px;
      overflow: hidden;


      a {
        margin-left: 14px;
      }

      div {
        color: transparent
      }

    }

    .account {
      color: #fff;
      font-size: 18px;
      display: flex;

      i {
        font-size: 20px;
      }

      i.user {
        display: inline-block;
        border: 1px solid #fff;
        border-radius: 100%;
        padding: 2px;
        background: #fff;
        color: #f2c89b;
      }
    }
  }

  .layout {
    height: calc(100vh - 64px);

    nz-sider {
      background: linear-gradient(0deg, #6c727A, #2B3037);
    }

    .trigger {
      font-size: 20px;
      line-height: 38px;
      cursor: pointer;
      transition: color 0.3s;
      color: #fff;
      text-align: center;
      border-bottom: 1px solid #6c727A;
    }

    li {
      border-left: 3px solid transparent;
      line-height: 52px;
      height: 52px;

      a {
        font-size: 0;
        height: 52px;

        i {
          font-size: 18px;
        }

        span {
          line-height: 52px;
          font-size: 16px;
          position: relative;
          top: -1px;
        }
      }
    }

    li:hover {
      background-color: #202329;
    }

    .ant-menu.ant-menu-dark .ant-menu-item-selected,
    .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
      background-color: #202329;
      border-left: 3px solid #f2c89b;
    }

    .ant-layout-sider-collapsed li a {
      margin-left: -4px;
    }
  }
}

// nz-sider的滚动条
nz-sider {
  overflow-y: auto;
}

nz-sider::-webkit-scrollbar {
  height: 6px;
  width: 0px;
}

nz-sider::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  // outline: #333 solid 1px;
}

nz-sider::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.right-layout {
  padding: 16px;
}

.right-box {
  // background-color: #fff;
  border-radius: 5px;
  min-height: 100%;

  nz-tabset {
    background-color: #fff;
    padding: 16px;
    padding-bottom: 0;
    margin-bottom: 16px;
  }
}
