<div nz-row>
  <div nz-col nzSpan="4" *ngFor="let d of data" class="item-box ant-Mright">
    <ng-container *ngIf="d.id">
      <div class="ant-Pleft ant-Pright ant-Ptop ant-Pbottom">
        <input type="text" nz-input [(ngModel)]="d.category_name" [disabled]="d.type">
        <div class="ant-Mtop">商品数：<a style="text-decoration: underline;">123456</a></div>
      </div>
      <div class="btns">
        <div *ngIf="d.type" (click)="edit(d)">编辑</div>
        <div *ngIf="!d.type" (click)="make_sure(d)">
          <ng-container *ngIf="d.loading"><i nz-icon nzType="loading" nzTheme="outline"></i></ng-container>
          <ng-container *ngIf="!d.loading">
            确定
          </ng-container>
        </div>
        <div class="line"></div>
        <div *ngIf="d.type" style="color: #f5222d" nz-popconfirm nzPopconfirmTitle="你确定要删除这个分类吗？"
          nzPopconfirmPlacement="top" (nzOnConfirm)="confirm(d.id)" (nzOnCancel)="cancel()">删除</div>
        <div *ngIf="!d.type" (click)="make_cancel(d)">取消</div>
      </div>
    </ng-container>
    <ng-container *ngIf="!d.id">
      <div class="ant-Pleft ant-Pright ant-Ptop ant-Pbottom">
        <input type="text" nz-input [(ngModel)]="d.category_name">
        <div style="visibility: hidden;" class="ant-Mtop">商品数：<a style="text-decoration: underline;">9999</a></div>
      </div>
      <div>
        <div class="btns">
          <div (click)="add(d)">
            <ng-container *ngIf="d.loading"><i nz-icon nzType="loading" nzTheme="outline"></i></ng-container>
            <ng-container *ngIf="!d.loading">
              确定
            </ng-container>
          </div>
          <div class="line"></div>
          <div (click)="remove()">取消</div>
        </div>
      </div>
    </ng-container>
  </div>
  <div nz-col nzSpan="2" class="item-box last-box" (click)="add()" *ngIf="type">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
  </div>
</div>
