<div class="container-box overflow-box">
  <button nz-button class="ant-Mbottom" (click)="show_modal()">兑换红包</button>
  <nz-table #table nzShowSizeChanger [nzData]="data" [nzFrontPagination]="true" [nzTotal]="total"
    [nzShowTotal]="totalTemplate" [nzLoading]="loading" [nzPageSizeOptions]="pagesizeAry">
    <thead>
      <tr>
        <th *ngFor="let t of theads">{{t.name}}</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td *ngFor="let t of theads">
          <ng-container [ngSwitch]="t.value">
            <ng-template ngSwitchCase="type">
              <nz-tag>{{typeObj[data.type]}}</nz-tag>
            </ng-template>
            <ng-template ngSwitchCase="status">
              <nz-tag>{{statusObj[data.status]}}</nz-tag>
            </ng-template>
            <ng-template ngSwitchDefault>{{data[t.value]}}</ng-template>
          </ng-container>
        </td>
        <td>
          <button nz-button class="ant-Mright" (click)="show_modal(data)">编辑</button>
          <button *ngIf="data.status===0" nz-button nzType="primary" (click)="change_status(data.id, 1)">激活</button>
          <button *ngIf="data.status===1" nz-button nzType="primary" (click)="change_status(data.id, 0)">失效</button>
          <button nz-button class="ant-Mleft" nzType="danger" (click)="del_exchange(data.id)">删除</button>
        </td>
      </tr>
    </tbody>
    <ng-template #totalTemplate>
      总计 {{total}} 条
    </ng-template>
  </nz-table>
</div>