<div nz-row>
  <div nz-col [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="4" [nzXXl]="3" *ngFor="let d of data"
    class="item-box ant-Mright ant-Mbottom">
    <ng-container *ngIf="d.id">
      <div class="ant-Pleft ant-Pright ant-Ptop ant-Pbottom">
        <div style="display:flex">
          <label style="display: inline-block;line-height: 32px;width: 54px;white-space: nowrap;">
            名称：
          </label>
          <div style="flex: 1">
            <input type="text" nz-input [(ngModel)]="d.spec_name" [disabled]="d.type">
          </div>
        </div>
        <div class="ant-Mtop">商品数：<a style="text-decoration: underline;">{{d.goods_count}}</a></div>
      </div>
      <div class="btns">
        <div *ngIf="d.type" (click)="edit(d)">编辑</div>
        <div *ngIf="!d.type" (click)="make_sure(d)">
          <ng-container *ngIf="d.loading"><i nz-icon nzType="loading" nzTheme="outline"></i></ng-container>
          <ng-container *ngIf="!d.loading">
            确定
          </ng-container>
        </div>
        <div class="line"></div>
        <div (click)="show_modal(d)">规格值</div>
        <div class="line"></div>
        <div *ngIf="d.type" style="color: #f5222d" nz-popconfirm nzPopconfirmTitle="你确定要删除这个规格吗？"
          nzPopconfirmPlacement="top" (nzOnConfirm)="confirm(d.id)" (nzOnCancel)="cancel()">删除</div>
        <div *ngIf="!d.type" (click)="make_cancel(d)">取消</div>
      </div>
    </ng-container>
    <ng-container *ngIf="!d.id">
      <div class="ant-Pleft ant-Pright ant-Ptop ant-Pbottom">
        <div style="display:flex">
          <label style="display: inline-block;line-height: 32px;width: 54px">
            名称：
          </label>
          <div style="flex: 1">
            <input type="text" nz-input [(ngModel)]="d.spec_name">
          </div>
        </div>
        <div style="visibility: hidden;" class="ant-Mtop">商品数：<a style="text-decoration: underline;">9999</a></div>
      </div>
      <div>
        <div class="btns">
          <div (click)="add(d)">
            <ng-container *ngIf="d.loading"><i nz-icon nzType="loading" nzTheme="outline"></i></ng-container>
            <ng-container *ngIf="!d.loading">
              确定
            </ng-container>
          </div>
          <div class="line"></div>
          <div (click)="remove()">取消</div>
        </div>
      </div>
    </ng-container>
  </div>
  <div nz-col nzSpan="2" class="item-box last-box" (click)="add()" *ngIf="type">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
  </div>
</div>
<nz-modal [(nzVisible)]="visible" nzTitle="规格值" [nzOkLoading]="okLoading" (nzOnCancel)="visible = false"
  [nzFooter]="null">
  <nz-row>
    <nz-col nzSpan="4">规格名：</nz-col>
    <nz-col nzSpan="16">{{detail.spec_name}}</nz-col>
  </nz-row>
  <nz-row class="ant-Mtop">
    <nz-col nzSpan="4">规格值：</nz-col>
    <nz-col nzSpan="20">
      <nz-table #basicTable [nzData]="detail.spec_values" [nzShowPagination]="false">
        <thead>
          <tr>
            <th>id</th>
            <th nzWidth="160px">规格值</th>
            <th>商品数量</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.id }}</td>
            <td>
              <ng-container *ngIf="data.flag">
                <input type="text" nz-input [(ngModel)]="data._spec_value">
              </ng-container>
              <ng-container>{{ data.spec_value}}</ng-container>
            </td>
            <td>{{ data.count }}</td>
            <td>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-col>
  </nz-row>
  <nz-row class="ant-Mtop">
    <nz-col nzSpan="20" nzOffset="4">
      <input *ngIf="flag" type="text" class="ant-Mright" nz-input style="width: 160px" [(ngModel)]="spec_value">
      <button *ngIf="!flag" nz-button class="ant-Mright" (click)="flag = true">添加规格值</button>
      <button *ngIf="flag" nz-button class="ant-Mright" nzType="primary" (click)="add_spec_value()">确定</button>
      <button *ngIf="flag" nz-button class="ant-Mright" (click)="flag = false">取消</button>
    </nz-col>
  </nz-row>
</nz-modal>